#heading{
    text-align: center;
    background-color: antiquewhite;
}


#zero{
    background-color: #fc79cc;

}

#one{
    background-color: #fa87d0;
}

#two{
    background-color:
    #f78fd1
    ;
}

#three{
    background-color: #f797d4;
}

#four{
    background-color:#fc9fda ;
}

#five{
    background-color:#f7a8da ;
}
#six{
    
    background-color: #fab1df;
}

#seven{
    background-color:#85f29b ;
}
#eight{
    background-color: #84dbfa;
}
#nine{
    background-color:#8bdbf7 ;
}
#ten{
    background-color:#95e2fc ;
}
#eleven{
    background-color: #a1e7ff;
}
#twelve{

    background-color: #99e0f7;
}
#thirteen{
    background-color:#a6e9ff ;
}
#fourteen{

    background-color: #aae6fa;
}
